# Editor/IDE files
*.idea/
*.sublime-project
*.sublime-workspace
*.vim
*.vscode

# optional pyenv configuration since `canvas` package compilation requires Python 3.12+
.python-version

# Unimportant OS-specific files
.DS_Store

# Debug files
*.log

# Packages (deep)
node_modules/
yarn.lock
pnpm-lock.yaml

# Generated builds (deep)
dist/
dist-docs/

# Demo output (deep)
demo/
