# Editor/IDE files
*.idea/
*.sublime-project
*.sublime-workspace
*.vim
*.vscode

# Unimportant OS-specific files
.DS_Store

# Debug files
*.log

# Packages (deep)
node_modules/

# Generated builds (deep)
dist/
dist-docs/

# Demo output
demo/
